# Pycharm stuff
**/.idea/*

# Build stuff
build/*
devel/*
.catkin_workspace
/install
**/__pycache__/*

# Python virtual environment
venv/
.Rproj.user

# Random data capture files
/src/**/*.csv
/src/**/*.csv#
/datacap/**/*.pdf

# R
.Rhistory
