<launch>
<arg name="robot" />
<arg name="tag_id" />
<group ns="$(arg robot)" >
<node pkg="roswifibot" type="wifibot_node" name="wifibot_node" required="true"
        args="_port:=/dev/ttyUSB0
              _base_frame:=$(arg robot)_base_frame
              _odom_frame:=$(arg robot)_odom
              _entrax:=.39
              _relay1:=true
              _relay2:=true
              _relay3:=true"/>
  <node name="gulliview_client" pkg="gv_client" type="gv_socket_server.py"
        args="_tag_id:=$(arg tag_id)" />
  <node name="mapdata_server" pkg="mapdata" type="map_data_node.py"
        args="_map_name:='4way'" />
</group>
</launch>
